
@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* *{
  font-family: "Delius Unicase", cursive;
} */


@layer base {
  body {
    @apply text-black
  }

  .radio{
    @apply w-full bg-red-800
  }

  .input{
    @apply w-full px-2 my-2 py-1 bg-gray-100  shadow-xl
  } 
  .option-golda{
    @apply w-full flex
  }
  .golda{
    @apply mr-1
  }
  .input-radio{
    @apply mr-4
  }
  .div-input{
    @apply py-2
  }

  .navbar{
    @apply sticky bg-white
  }
  .logo{
    @apply flex flex-row bg-white shadow-xl p-2
  }
  .mobile{
    @apply flex-col
  }
  .desktop{
    @apply grid-cols-3
  }
}